doctype html
html(lang="en")
  head
    title Teresa HIMS
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //-link(rel="stylesheet", href="#{staticPrefix}css/vendor.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  body
    block body
    div#scripts
      block scripts
        