extend ../layout

append scripts
  
  if client
    script.
      var clientId = "#{client.id}";
  else
    script.
      var clientId = null;

  script.
    Teresa.referral.add.init();

block content
  div.card
    div.card-block
      h1.card-title Add Referral
      div#client-summary
  div.card
    div.card-block
      div#referral-list
          