extend ../layout

block vars
  - var endpoint = '/referral'

append scripts
  
  if client
    script.
      var clientId = "#{client.id}";
  else
    script.
      var clientId = null;

  script.
    Teresa.referral.add.init();

block content
  +l-section()
    h1 New Referral
    div.row
      div.col-md-4#rct-client-summary
      div.col-md-8#rct-referral-list
          