extend ../layout

append scripts
  
  if client
    script.
      var clientId = "#{client.id}";
  else
    script.
      var clientId = null;

  script.
    Teresa.referral.add.init();

block content
  div.card
    div.card-block
      h1.card-title Add Referral
      div.card
        div.card-block
          h5.card-title Summary of Service
      div.card
        div.card-block
          h5.card-title Summary of Client
      form
        +input('textarea', 'referralOptionA', 'Referral Options...', false)
        button.btn.btn-primary(type="submit") Create Referral
  div.card
    div#referral-list