extend ../layout

block vars
  - var endpoint = '/referral'

append scripts
  
  script.
    Teresa.referral.all.init();

block content
  +l-section()
    div.card
      div.card-block
        h1.card-title Referrals
        div#referral-list