extend ../layout

block vars
  - var endpoint = '/client'

append scripts
  
  script.
    Teresa.client.add.init();

block content
  div.container
    br
    h1 Add New Client
    br
    div#client-add