extend ../layout

block content
  div.card
    div.card-block
      h1.card-title Clients
      ul.list-group
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name
        li.list-group-item
          button.btn.btn-success.float-xs-right Refer Client »
          h4 Client Name