extend ../layout

block vars
  - var endpoint = '/client'

append scripts
  
  if client
    script.
      var clientId = "#{client.id}";
  else
    script.
      var clientId = null;

  script.
    Teresa.client.edit.init();

block content
  +l-section()
    h1 Edit Client
    div#client-edit