extend ../layout

block content
  form
    
    +input('email', 'test', 'Email Label', 'Placeholder', false)
    +input('password', 'test', 'Pass Label', 'Placeholder', false)
    +input('text', 'test', 'Text Label', 'Placeholder', false)
    +input('number', 'test', 'Number Label', 'Placeholder', false)

    +input('textarea', 'test', 'Textarea Label', 'Placeholder', false)

    +input('select', 'select', 'Label', 'Bloop', ['one', 'two', 'three'])

    +input-check-group('Radio')
      - var name = 'optionsRadios'
      +input-check('radio', name, 'Radio', 'value1')
      +input-check('radio', name, 'Radio', 'value2')
      +input-check('radio', name, 'Radio', 'value3')
