extend ../layout

block vars
  - var endpoint = '/client'

append scripts

  if keyword
    script.
      var keyword = "#{keyword}";
  else
    script.
      var keyword = null;

  script.
    Teresa.client.list.init();

block content
  +l-section()
    div#client-list