extend ../layout

block title
  | Teresa Users

block content
  //-
  div(style="background-image:url('http://www.fillmurray.com/150/1024/; background-size:cover;")
    div.container
      div.row
        div.col-md-8
          h1 {Organization Name}
          h2 {Organization Mission}
        div.col-md-4.text-right
          img(src="http://www.fillmurray.com/150/150")